<% layout('layouts/main') %>
<h1>Welcome, Admin <%= user.name %></h1>
<div>
    <h2>Admin Dashboard</h2>
    <a href="/admin/manage-events">Manage Events</a>
    <a href="/admin/view-donations">View Donations</a>
</div>
