<% layout('layouts/main') %>
<h1>Welcome, <%= user.name %></h1>
<div>
    <h2>Alumni Dashboard</h2>
    <a href="/alumni/post-job">Post Job Opportunity</a>
    <a href="/alumni/donate">Make a Donation</a>
</div>
